@{
    ViewData["Title"] = "Product Page";
}

@* =========================== PAGE =========================== *@
@section PageStyle {
    <link rel="stylesheet" href="assets/styles/pages/product.css" asp-append-version="true" />
}
@section PageScript {
    <script src="assets/scripts/pages/product.js"></script>
}

<section class="product">
    <h1>Products</h1>
</section>

