@{
    ViewData["Title"] = "Home Page";
}

@* =========================== PAGE =========================== *@
@section PageStyle {
    <link rel="stylesheet" href="assets/styles/pages/home.css" asp-append-version="true" />
}
@section PageScript {
    <script src="assets/scripts/pages/home.js"></script>
}

<section class="home">
<h1>Home Page</h1>
</section>
